body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}
#info {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
#camera-info {
    position: absolute;
    top: 100px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    max-height: 80vh;
    overflow-y: auto;
    width: 300px;
}
#camera-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
#start-ar-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#start-ar-button:hover {
    background-color: #218838;
}
#ar-container {
    display: none;
    width: 100%;
    height: 100%;
    
}
#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    display: none;
}